<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSCameraUsageDescription</key>
	<string>AntiCEL uses the camera so you can photograph your vehicle, receipts, and documents.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>AntiCEL uses your photo library so you can choose vehicle photos, receipts, and document scans.</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>AntiCEL can save album photos to your library, and can save photos there when in-app copies are turned off.</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>SRKSolutions.AntiCEL</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>anticel</string>
			</array>
		</dict>
	</array>
</dict>
</plist>
